/*To specify Docker, singularity or Conda use
 nextflow run script.nf -profile singularity
*/

profiles {
	singularity {
		// Downloads the container from singularity registry
		process.container = 'docker://quay.io/samordil/ont-metacriptome-tool.sf'
		singularity.enable = true
	}

	docker {
		// Downloads the container from docker registry
		process.container = 'ont-metacriptome-tool'
		docker.enable = true
	}

	// START: --- For developers: For locally testing purposes only. ---------
	// Will be deleted after deployment of the pipeline
	conda {
		process.conda = '/home/sam/miniconda3/envs/mini-projo'
	}

	lsingularity {
		process.container = 'file://containers/ont-metacriptome-tool.sf'
		singularity.enable = true
	}
	// End: ----- End of code for local testing ------------------------

}