/*To specify Docker or singularity use
 nextflow run script.nf -profile docker/singularity
*/

profiles {

	docker {
		// Downloads the container from docker registry
		process.container = "samordil/ont-metatranscriptomics"
		docker.enable = true
	}
	
	singularity {
		// Download docker container and converts into singularity container
		process.container = "docker://samordil/ont-metatranscriptomics"
		singularity.enable = true
		singularity.cacheDir = "$PWD"
	}
}